extends ./layout.jade
block title
    title="麦芽"
block body
    .uk-grid.uk-grid-collapse.posts-layout
        .uk-width-3-4
            .main
                .art-nav
                    ul.uk-list.ul-inline.uk-clearfix
                        li.nav
                            a.link-white(href="/") 讨论区
                        li.nav
                            a.link-white(href="/") 预定
                        li.nav
                            a.link-white(href="/") 木雕
                        li.nav
                            a.link-white(href="/") 盆景
                        li.nav
                            a.link-white(href="/") 原料
                        li.nav
                            a.link-white(href="/") 其他
                .art-content
                    each post in posts
                        .art-post.uk-clearfix
                            .art-author-avatar.uk-float-left
                            .art-post-title.uk-float-left
                                a.title(href=encodeURI("/posts/" + post.id))= post.title
                                .post-info.uk-clearfix
                                    .post-author.uk-float-left
                                        a(href="/users/" + post.user.nick)
                                            strong= post.user.nick
                                        .separator-inline &nbsp;&#183;
                                    span.uk-float-left= "最后修改"
                                    .separator-inline.uk-float-left &nbsp;&#183;
                                    .post-date.uk-float-left
                                        //i.uk-icon-clock-o
                                        strong= post.lastModified
                            .art-post-date.uk-float-right
                                //span= post.lastModified
        .uk-width-1-4
            .right-side
            .right-side
            .right-side
            .right-side
